{% extends 'main/lay.html' %}

{% block title %}
    Контакты
{% endblock %}
{% block content %}

    <div>
        <p style="float:left; width:50px;"><h1>Контактная информация</h1></p>
        <p style="margin-left: 21%">В случае возникших технических неполадок обращайтесь на горячую линию: <a href="89174588741">89174588741</a></p>
        <p style="margin-left: 21%">Или на почту: <a href="pomosh@mail.ru">pomosh@mail.ru</a></p>
        <p style="margin-left: 21%">Если остались какие-то вопросы, свяжитесь с нами: <a href="vopros@gmail.com">vopros@gmail.com</a></p>

        <footer>
            <p><a href="/license">Лицензионное соглашение</a> |
            <a href="/about">О сайте</a> |
            <a href="/donation">Donations</a></p>
            <p><small>© Copyright 2023 MyCorp.</small></p>
        </footer>
    </div>
{% endblock %}
