{% extends 'main/lay.html' %}

{% block title %}
    Help Desk
{% endblock %}

{% block content %}
    <div>
        <p><h3 align="center">Добро пожаловать в Help Desk!</h3></p>
        <p><h5 align="center">Давай расскажем тебе немного о нашей программе.</h5></p>
        <p class="text-justify"><h7>Help desk — это специальная программа для автоматизации процессов техподдержки, сервиса, обслуживания клиентов, включая выездное обслуживание, а также сотрудников (внутренних заявителей) компании. <br>
            Системы класса help desk помогают повысить эффективность работы сервисной компании или отдела: будь то IT-служба, решающая заявки о неработающем принтере в офисе или выездные инженеры,
            обслуживающие различное оборудование и объекты. В интернете можно встретить множество вариаций: хэлп дэск, хелпдеск, helpdesk и так далее.
            Википедия предлагает вариант с раздельным написание — help desk, зарубежные коллеги пишут по-разному — и слитно, и раздельно, но все они обозначают одно и то же.<br>
            Подобные программы появились более 20-ти лет назад. За это время они заметно изменились и приобрели функциональные особенности в зависимости от решаемых задач.<br>
            Все программы автоматизации процессов обслуживания делятся на 3 класса:<br>
            1)клиентская поддержка физических лиц или «customer support»;<br>
            2)техподдержка или сервис юридических лиц по договорам, включая выездной сервис (field service management);<br>
            3)service desk системы, связанные с оказанием и сопровождением ИТ услуг внутри организации и построенные на использовании принципов ITSM (сервисный подход в управлении ИТ) и ITIL.
        </h7></p>

        {% for el in values %}
        <p><h6 align="center">{{ el }}</h6></p>
        {% endfor %}
    </div>

    {% include 'main/include.html' %}
{% endblock %}
